---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const contacto = (await getEntry(
  "contacto",
  "-index",
)) as CollectionEntry<"contacto">;
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contacto.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-6 mb-10">
          <div class="content">
            <h2>Nuestra Ubicación</h2>
            <p>Puede visitarnos en nuestra tienda física ubicada en:</p>
            <p>
              <strong>Mercado Regional</strong><br />
              Km 91 +100 Carretera a Chihuahua<br />
              Entronque a Tacuba, Gasolinera Philliph 66<br />
              Cienega de Castillo<br />
              31605 Cuauhtémoc, Chihuahua<br />
              México
            </p>
            <p>
              <strong>Horario de atención:</strong><br />
              Todos los días: 8:00 a.m. - 9:00 p.m.
            </p>
            <h2>Información de Contacto</h2>
            <p>
              Si tiene alguna pregunta o comentario, no dude en contactarnos:
            </p>
            <p>
              <strong>Teléfono:</strong> +52 625 589 1784<br />
              <strong>Email:</strong> info@mercadoregional.com.mx
            </p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.8664390598144!2d-106.74421669999999!3d28.3773096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86c1cd2e212f653f%3A0xf1471b4454dab0e9!2sMERCADO%20REGIONAL!5e0!3m2!1ses-419!2smx!4v1694116723050!5m2!1ses-419!2smx"
              width="100%"
              height="350"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
          </div>
        </div>
        <div class="md:col-6">
          <form action={contact_form_action} method="POST" data-netlify="true">
            <input type="hidden" name="form-name" value="contacto" />
            <div class="mb-6">
              <label for="name" class="form-label">
                Nombre Completo <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="Juan Pérez"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                Correo Electrónico <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="juan.perez@email.com"
                type="email"
              />
            </div>
            <div class="mb-6">
              <label for="message" class="form-label">
                Mensaje <span class="text-red-500">*</span>
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="Escriba su mensaje aquí..."
                rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
